@import helper._

@(requestedNames: String = "",
  page: Option[Int] = None, pageUrls: Map[Int, String] = Map.empty,
  response: Option[Response] = None)

@layout(title = "GNParser") {
  <section class="parser">
    <div class="grid">
      <div class="unit whole">
      @form(action = routes.Application.parsePost(), 'id -> "parse-form") {
        <div data-role="controlgroup" data-type="horizontal">
          <input type="text" id="parse-input"
                 data-wrapper-class="controlgroup-textinput ui-btn"
                 placeholder="Place name here"
                 value="@requestedNames"/>
          <button type="submit">Parse</button>
        </div>
      }
      </div>
    </div>
  </section>
  @if(response.isDefined) {
    <section class="parser results">
      <div class="grid">
        <div class="unit whole">
          <h4 id="results">Results (total: @response.get.total)</h4>

          @for(mtch <- response.get.matches) {
            <div data-role="header">
              <h4>@mtch.nameString.name.value</h4>
            </div>

            <div data-role="panel" id="overlayPanel-@mtch.nameString.name.id"
                 data-display="overlay" data-position="right" data-position-fixed="true">
              <h2>Data Sources: @mtch.nameString.name.value</h2>

              <div id="content-@mtch.nameString.name.id">Loading...</div>

              <a href="#results" data-rel="close" class="ui-btn ui-btn-inline ui-shadow
                 ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">Close</a>
            </div>

            <a id="@mtch.nameString.name.id" href="#overlayPanel-@mtch.nameString.name.id"
               class="dataSource ui-btn ui-btn-inline ui-corner-all ui-shadow">
              Data sources
            </a>

            <div>UUID: @mtch.nameString.name.id</div>
            <div>Canonical Name: @mtch.nameString.canonicalName.value</div>
            <div>UUID: @mtch.nameString.canonicalName.id</div>
          }
        </div>

        @for(p <- 1 until pageUrls.size) {
          @page match {
            case Some(x) if x == p => { <a href="@{pageUrls(p)}"><b>@p</b></a> }
            case None if p == 1 => { <a href="@{pageUrls(p)}"><b>@p</b></a> }
            case _ => { <a href="@{pageUrls(p)}">@p</a> }
          }
        }
      </div>
    </section>
  }

  <script>
    $('a.dataSource').click(function () {
      var id = this.id;
      console.log('clicked: ' + id);

      var panelContent = $('div#content-' + id);

      if (panelContent.attr('processed') !== 'true') {
        panelContent.attr('processed', true)

        $.get('/api/names/' + id + '/dataSources', function (data, status) {
          console.log(status + ': ' + id);

          var content = data.map(function (elem) {
            var url = elem[0].url;
            var title = elem[1].title;
            if (typeof url === 'undefined' || url === null) {
              url = title;
            } else {
              url = '<a href=' + url + '>' + title + '</a>';
            }
            return '<li>' + url + '</li>';
          }).join('');

          panelContent.html('<ul>' + content + '</ul>');
        });
      }
    })
  </script>
}
