@(title: String)(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>@title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" 
      href="@routes.Assets.versioned("stylesheets/screen.css")">
    <link rel="stylesheet"
      href="@routes.Assets.versioned("stylesheets/parser.css")">
    <link rel="icon" type="image/x-icon"
      href="@routes.Assets.versioned("images/favicon.ico")">
  </head>
  <body class="wrap">
    <section class="intro">
      <div class="grid">
        <div class="unit whole center-on-mobiles">
          <h1>Global Names Parser</h1>
          <h4>Scientific Names in Detail</h4>
        </div>
      </div>
    </section>
    @content
  </body>
</html>
